body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: 100%;
  background-color: green;
}
 
.collectionItemContainer{
  display:flex;
  justify-content: space-around;
  color:green;
  background-color: white;

}

#headlineContainer{
   
  padding-top: .5rem;
  flex-direction: column;
  color: darkgreen;
  font-size: 1.25rem;
  text-align: left;
  clear:left;
  line-height: 110%;
  padding-bottom: .5rem;

   
}
.collapsibleForm{
  background-color: whitesmoke;
}
.collapsible-body{
  background-color:lightgreen;
   
}

.add-comment-button{
  font-size: 1rem;
   
  margin: 1rem;

}